---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!-- TerminoloGit begin -->
  {% include fragment-base-navtabs-terminology.html type='{{[type]}}' id='{{[id]}}' active='fullcontent' %}
  <!-- TerminoloGit end -->
  <a name="root"> </a>
  <h2 id="root">ValueSet: {{site.data.pages[page.path].title}}</h2>
  <p>
    <b>Summary</b>
  </p>
  {%include {{[type]}}-{{[id]}}-summary.xhtml%}

  <p>
    <b>References</b>
  </p>
  {%include {{[type]}}-{{[id]}}-xref.xhtml%}

  <!-- insert intro if present -->
  {% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' %}

  <a name="definition"> </a>

<!-- Content Logical Definition heading in the fragment -->

  {%include {{[type]}}-{{[id]}}-cld.xhtml%}


  <p>&#160;</p>
  <a name="expansion"> </a>
  <h3 id="expansion">Expansion</h3>


  {%include {{[type]}}-{{[id]}}-expansion.xhtml%}


  <hr/>
  <p>
    Explanation of the columns that may appear on this page:
  </p>
  <table class="grid">
    <tr>
      <td>Level</td>
      <td>A few code lists that FHIR defines are hierarchical - each code is assigned a level.
          In this scheme, some codes are under other codes, and imply that the code they are under also applies</td>
    </tr>
    <tr>
      <td>System</td>
      <td>The source of the definition of the code (when the value set draws in codes defined elsewhere)</td>
    </tr>
    <tr>
      <td>Code</td>
      <td>The code (used as the code in the resource instance)</td>
    </tr>
    <tr>
      <td>Display</td>
      <td>The display (used in the <i>display</i> element of a <a href="{{site.data.fhir.path}}datatypes.html#Coding">Coding</a>). If there is no display, implementers should not simply display the code, but map the concept into their application</td>
    </tr>
    <tr>
      <td>Definition</td>
      <td>An explanation of the meaning of the concept</td>
    </tr>
    <tr>
      <td>Comments</td>
      <td>Additional notes about how to use the code</td>
    </tr>
  </table>

  <!-- insert notes if present -->
  {% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' %}

  {%include {{[type]}}-{{[id]}}-history.xhtml%}

</div>
{% include fragment-pageend.html %}
