{% assign resource_ = include.type| append: '/'| append: include.id  %}
{% assign has_history = site.data.resources[resource_].['history'] %}


<ul class="nav nav-tabs">
{% if include.active == 'content' %}
  <li class="active">
    <a href="#">Searchable Narrative Content</a>
  </li>
{% else %}
  <li>
    <a href="{{include.type}}-{{include.id}}.html">Searchable Narrative Content</a>
  </li>
{% endif %}

<!-- TerminoloGit begin -->

{% if include.active == 'fullcontent' %}
  <li class="active">
    <a href="#">Onepage Narrative Content</a>
  </li>
{% else %}
  <li>
    <a href="{{include.type}}-{{include.id}}.fullcontent.html">Onepage Narrative Content</a>
  </li>
{% endif %}

{% if include.active == 'download' %}
  <li class="active">
    <a href="#">Download</a>
  </li>
{% else %}
  <li>
    <a href="{{include.type}}-{{include.id}}.download.html">Download</a>
  </li>
{% endif %}

{% if include.active == 'previous-versions' %}
  <li class="active">
    <a href="#">Previous Versions</a>
  </li>
{% else %}
  <li>
    <a href="{{include.type}}-{{include.id}}.previous-versions.html">Previous Versions</a>
  </li>
{% endif %}

<!-- TerminoloGit end -->

{% if  site.data.resources[resource_].['history'] %}
  {% if include.active == 'history' %}
    <li class="active">
      <a href="#">History</a>
    </li>
    {% else %}
    <li>
      <a href="{{include.type}}-{{include.id}}.change.history.html">History</a>
    </li>
  {% endif %}
{% endif %}

</ul>
