<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <title>{{site.data.pages[page.path].title}} - {{site.data.fhir.ig.title}}</title>

    <meta name="description" content="{{site.data.pages[page.path].title}} - {{site.data.fhir.ig.title}}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="http://hl7.org/fhir"/>

    <link href="{{site.data.info.assets}}fhir.css" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link href="{{site.data.info.assets}}assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/bootstrap-fhir.css" rel="stylesheet"/>

    <!-- Project extras -->
    <link href="{{site.data.info.assets}}assets/css/project.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/pygments-manni.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/jquery-ui.css" rel="stylesheet"/>
  	<link href="{{site.data.info.assets}}assets/css/prism.css" rel="stylesheet" />
    {% include fragment-css.html %}

    <script type="text/javascript" src="fhir-table-scripts.js"> </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.data.info.assets}}assets/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.data.info.assets}}assets/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.data.info.assets}}assets/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="{{site.data.info.assets}}assets/ico/apple-touch-icon-57-precomposed.png"/>
    <link rel="shortcut icon" href="{{site.data.info.assets}}assets/ico/favicon.png"/>

    <!-- Am Ende des Headers platzieren -->
    <style>
      #terminologit-search-content-codesystem table.codes,
      #terminologit-search-content-valueset-cld table.none,
      #terminologit-search-content-valueset-expansion table.codes {
          display: none;
      }
    </style>
    </style>
  </head>
  <body onload="document.body.style.opacity='1'">
{% assign label = {{site.data.pages[page.path].label}} | split: '.0' %}
	  <script src="{{site.data.info.assets}}assets/js/prism.js"></script>

    <style type="text/css">h2{--heading-prefix:"{{site.data.info.headingOffset}}{{label}}"}
    h3,h4,h5,h6{--heading-prefix:"{{site.data.info.headingOffset}}{{site.data.pages[page.path].label}}"}</style>
    <div id="segment-header" class="segment">
      <!-- segment-header -->
      <div class="container">  <!-- container -->
        <div class="header-row">
          <div>
          <img id="header-logo" src="{{site.data.infos.assets}}assets/images/ELGA_LOGO_RGB.jpg"/>
          </div>
          <div>
              {% include fragment-header.html %}
      {% if site.data.info.releaselabel != '' %}
      {% assign status = site.data.info.releaselabel %}
      {% else %}
      {% assign status = site.data.fhir.ig.status %}
      {% endif %}
              <div id="ig-status">
                <p>
                  <span style="font-size:12pt;font-weight:bold">{{site.data.fhir.ig.title}}</span><br/>
                  <span class="label label-info">{{site.data.fhir.ig.version}} - {{status}}</span>
                </p>
              </div>
            </div>
            <div>
            <div id="hl7-search">
              <a id="hl7-search-lnk" no-external="true" href="search.html"><img alt="Search FHIR" src="{{site.data.info.assets}}assets/images/search.png"/></a>
            </div>
          </div>
      </div>
      </div> <!-- /container -->
    </div>  <!-- /segment-header -->

    <div id="segment-navbar" class="segment">  <!-- segment-navbar -->
      <div id="stripe"> </div>
      <div class="container">  <!-- container -->
        <!-- HEADER CONTENT -->

        <nav class="navbar navbar-inverse">
          <!--status-bar-->
          <div class="container">
            <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand hidden" href="{{site.data.fhir.path}}index.html">FHIR</a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
              {% include menu.xml %}
            </div>  <!-- /.nav-collapse -->
          </div>  <!-- /.container -->
        </nav>  <!-- /.navbar -->
      <!-- /HEADER CONTENT -->
      </div>  <!-- /container -->
    </div>  <!-- /segment-navbar -->
    <!--status-bar-->
    <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
      <div class="container">  <!-- container -->
        <ul class="breadcrumb">
          {{site.data.pages[page.path].breadcrumb}}
        </ul>
      </div>  <!-- /container -->
    </div>  <!-- /segment-breadcrumb -->

    <div id="segment-content">  <!-- segment-content -->
      <div class="container">  <!-- container -->
        <div class="row">
          <div class="inner-wrapper">
