</div>  <!-- /inner-wrapper -->
</div>  <!-- /row -->
</div>  <!-- /container -->
</div>  <!-- /segment-content -->

<script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery-ui.min.js"> </script>
{% if includetabscripts %}
<script type="text/javascript">
try {
var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
} catch(exception) {
}

if (!currentTabIndex)
currentTabIndex = '0';

$( '#tabs' ).tabs({
active: currentTabIndex,
activate: function( event, ui ) {
  var active = $('.selector').tabs('option', 'active');
  currentTabIndex = ui.newTab.index();
  document.activeElement.blur();
  try {
    sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
  } catch(exception) {
  }
}
});
</script>
{% endif %}
<script type="text/javascript">
$(document).ready(function(){
if(window.location.hash != "") {
    $('a[href="' + window.location.hash + '"]').click()
}
});
</script>
<a name="bottom"> </a>
<div id="segment-footer" igtool="footer" class="segment">  <!-- segment-footer -->
<div class="container">  <!-- container -->
{% if shownav == 'y' %}
<div style="background-color:var(--footer-nav-bg-color)">
  <table style="width:100%">
    <tbody>
      <tr>
        <td style="text-align:left">&#xA0;
{% if site.data.pages[page.path].previous %}
          <a href="{{site.data.pages[page.path].previous}}">&lt;prev</a>
{% else %}
          <span style="visibility:hidden">&lt;prev</span>
{% endif %}
        </td>
        <td style="text-align:center">
          <a href="#top">top</a>
        </td>
        <td style="text-align:right">&#xA0;
{% if site.data.pages[page.path].next %}
          <a href="{{site.data.pages[page.path].next}}">next&gt;</a>
{% else %}
          <span style="visibility:hidden">next&gt;</span>
{% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %}
<div class="inner-wrapper">
  <p>
    IG &#169; {{site.data.info.copyrightyear}} <a style="color:var(--footer-hyperlink-text-color)" href="{{site.data.fhir.ig.contact[0].telecom[0]}}">{{site.data.fhir.ig.publisher | escape}}</a>.  Package {{site.data.fhir.packageId}}#{{site.data.fhir.igVer}} based on <a style="color: var(--footer-hyperlink-text-color)" href="{{site.data.fhir.path}}">FHIR® {{site.data.fhir.version}}</a>. Generated <span title="{{site.data.fhir.genDate}}">{{site.data.fhir.genDate | date: "%Y-%m-%d"}}</span>
    <br/>
    <span style="color: var(--footer-highlight-text-color)"></span>
      {% include fragment-footer.html %}
    </span>
  </p>
</div>  <!-- /inner-wrapper -->
</div>  <!-- /container -->
</div>  <!-- /segment-footer -->

<div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
<div class="container">  <!-- container -->
</div>  <!-- /container -->
</div>  <!-- /segment-post-footer -->

<!-- JS and analytics only. -->
<!-- Am Ende des Body platzieren -->
<style class="anchorjs"></style><link href="{{site.data.info.assets}}assets/css/clusterize.min.css" rel="stylesheet">
<style class="anchorjs"></style><link href="{{site.data.info.assets}}assets/css/clusterize-plugin.css" rel="stylesheet">
<script src="{{site.data.info.assets}}assets/js/clusterize.min.js"></script>
<script src="{{site.data.info.assets}}assets/js/clusterize-plugin.js"></script>
<script src="{{site.data.info.assets}}assets/js/lodash.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    var codesTable = new clusterizeTable({parentDivId: 'terminologit-search-content-codesystem', classSelector : 'codes'});
    var codesTable = new clusterizeTable({parentDivId: 'terminologit-search-content-valueset-cld', classSelector : 'none'});
    var codesTable = new clusterizeTable({parentDivId: 'terminologit-search-content-valueset-expansion', classSelector : 'codes'});
  });
</script>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/bootstrap.min.js"> </script>
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/respond.min.js"> </script>
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/anchor.min.js"> </script>
<script>anchors.options.visible = 'hover'
anchors.add()</script>

{% include fragment-feedback_form.html %}

<!-- Analytics Below
================================================== -->
</body>
</html>
